.mbtn {
	width: 80%;
  padding: 8px 15px;
  font-size: 14px;
  color: #222;
  background-color: #cecece;
  border: 0;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2), inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 1px rgba(0, 0, 0, .25);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2), inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 1px rgba(0, 0, 0, .25);
}
